@media screen and (max-width: 1355px) {
    .first-screen .container {
      padding: 0 92px;
    }
    .calculation-decoration {
     img { 
        max-width: 100%;
    }
  }
  }

  @media screen and (max-width: 1199px) {
    .header-nav__list {
    gap: 20px;
    display: flex;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    }
    .header-list-link {
      padding: 16px 7px 10px;
    }
    .calculation-decoration {
      width: 38vw;;
    }
  }

  @media screen and (max-width: 1400px) {
    .slider-template {
      max-width: 780px;
      margin: 0 auto;
    }
  }
