<section class="advantages .has-bg">
    <div class="container">
        <div class="template-title">
            <h2> Почему стоит выбрать нас?</h2>
        </div>
    <div class="slider-advantages row">
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-1.svg" class="advantages-img" alt="Таможенное оформление">
            </div>
            <h6 class="advantages-title">
                Таможенное оформление
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-2.svg" class="advantages-img" alt="Страхование груза">
            </div>
            <h6 class="advantages-title">
                Страхование груза
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-5.svg" class="advantages-img" alt="Проверка товара на дефекты">
            </div>
            <h6 class="advantages-title">
                Проверка товара на дефекты
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-4.svg" class="advantages-img" alt="Доставка в любой город">
            </div>
            <h6 class="advantages-title">
                Доставка в любой город
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-6.svg" class="advantages-img" alt="Консолидация на склад">
            </div>
            <h6 class="advantages-title">
                Консолидация на склад
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-7.svg" class="advantages-img" alt="Ответственное хранение">
            </div>
            <h6 class="advantages-title">
                Ответственное хранение
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-8.svg" class="advantages-img" alt="Помощь в оплате товара">
            </div>
            <h6 class="advantages-title">
                Помощь в оплате товара
    </h6>
        </div>
        <div class="advantages-item col-lg-3">
            <div class="advantages-img-wrapper">
                <img src="assets/img/advantage-2.svg" class="advantages-img" alt="Упаковка,переупаковка, пелетирование">
            </div>
            <h6 class="advantages-title">
                Упаковка,переупаковка, пелетирование
    </h6>
        </div>
    </div>
</div>
</section>