<section class="first-screen">
    <div id="first-screen-slider" class="container-xxl">

        <div class="banner-item" style="background-image: url(assets/img/first-screen-1.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <h5 class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</h5>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
            <div class="banner-item" style="background-image: url(assets/img/first-screen-2.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <h5 class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</h5>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div class="banner-item" style="background-image: url(assets/img/first-screen-3.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <h5 class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</h5>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div class="banner-item" style="background-image: url(assets/img/first-screen-4.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <h5 class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</h5>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
    </div>
    <div class="first-screen-arrows"></div>
</section>
