<header class="header">
    <div class="container">
        <a href="index.html" class="header-logo-link">
           <img src="assets/img/logo.svg" class="header-logo-img" alt="logo">
        </a>
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item"><a href="#" class="header-list-link">Цены и сроки</a></li>
                <li class="header-nav__item"><a href="#" class="header-list-link">Услуги</a></li>
                <li class="header-nav__item"><a href="#" class="header-list-link">О компании</a></li>
                <li class="header-nav__item"><a href="#" class="header-list-link">Контакты</a></li>
                <li class="header-nav__item"><a href="#" class="header-list-link">Оформить груз</a></li>
            </ul>
            <button type="button" class="btn btn-primary">Оставить заявку</button>
        </nav>
      
        <button class="hamburger hamburger--vortex is-active" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>
