<section class="delivery">
    <div class="container-delivery">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-1.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - обычная</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            15-30 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <strong>2,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-2.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - ускоренная</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            15-20 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            от 10 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <strong>3,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-4.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авиа</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            3-7 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <strong>5,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-3.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Ж/д</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            15-30 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <strong>2,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-5.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Морем</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-calendar.svg" class="img-fluid" alt="calendar">
                            </div>
                            30-40 дней
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/icon-box.svg" class="img-fluid" alt="box">
                            </div>
                           от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <strong>2,5</strong>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
   <div class="container">
        <div class="d-flex position-relative">
                        <div class="row">
                            <div class="col-lg-8">
                                <h2>О компании</h2>
                                <p>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.
                                    Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
                            </div>

                            <div class="services-decoration">
                                <img src="assets/img/services.png" class="img-fluid" alt="services">
                            </div>
        
                        </div>
                    </div>
                </div>
            </section>

